# Poetry / venv
.venv/
.venv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/
.coverage
reports/
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git/

# Env
.env

# Tests
tests/

# Summarys
summarys/

# Docker
*.log