# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Docker
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Ruff
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Reports
reports/
.allure/

# Allure
allure-report/
allure-history.jsonl
tests/reports/allure-results/
tests/reports/coverage-html/

# Node.js
node_modules/
package-lock.json

summarys/